{%extends 'app/base.html'%}

{%block contenido%}
<div id="main">


    <article class="post">
        <header>
            <div class="title">
                <h2><a href="#">Politicas y Privacidad</a></h2>
            </div>
        </header>
            <h2>1. Introducción</h2>
                
                <br><p>1.1. Bienvenido al sitio web Don Shoppy. Estas políticas de uso establecen los términos y condiciones que rigen tu acceso y uso de nuestro sitio web. Al acceder y utilizar el sitio, 
                aceptas cumplir con estas políticas de uso en su totalidad. Si no estás de acuerdo con alguna parte de estas políticas, te recomendamos que no utilices nuestro sitio.</p>
                
            <h2><br>2. Seguridad de la Información</h2>
                
                <br><p>2.1. Responsabilidad del Usuario: Eres responsable de mantener la confidencialidad de tus credenciales de acceso al sitio web. 
                    No compartas tu nombre de usuario ni tu contraseña con terceros y notifícanos de inmediato cualquier uso no autorizado de tu cuenta.</p>
                
                <p>2.2. Protección de Datos Personales: Respetamos tu privacidad y nos comprometemos a proteger tus datos personales. 
                    Recopilamos, utilizamos y almacenamos tus datos de acuerdo con nuestras políticas de privacidad, las cuales puedes revisar en nuestra página de políticas de privacidad.</p>
                
                <p>2.3. Uso de Datos de los Usuarios: Nos comprometemos a utilizar los datos personales de los usuarios solo con fines relacionados con la operación del sitio web y la prestación de servicios. 
                    No compartiremos tus datos con terceros sin tu consentimiento expreso, a menos que sea requerido por la ley.</p>
                
            <h2><br>3. Responsabilidad del Usuario</h2>
                
                <br><p>Contenido Generado por el Usuario: Si publicas contenido en nuestro sitio web, como comentarios, 
                    opiniones o reseñas, eres el único responsable de dicho contenido. No se permite publicar contenido difamatorio, obsceno, ilegal o que infrinja los derechos de propiedad intelectual de terceros.</p>
                
                <p>3.2. Cumplimiento de las Leyes: Al utilizar nuestro sitio web, te comprometes a cumplir con todas las leyes y regulaciones aplicables. No utilices nuestro sitio para actividades ilegales o fraudulentas.</p>
                
                <p>3.3. Conducta Adecuada: No toleramos el acoso, la discriminación, el lenguaje ofensivo o cualquier forma de comportamiento inapropiado en nuestro sitio web. Nos reservamos el derecho de tomar medidas, 
                    incluida la suspensión o eliminación de cuentas, ante cualquier violación de esta política.</p>
                
            <h2><br>4. Propiedad Intelectual</h2>
                
                <br><p>Derechos de Autor: Respetamos los derechos de autor y esperamos que nuestros usuarios también lo hagan. 
                    No se permite la publicación de contenido protegido por derechos de autor sin el permiso expreso del propietario. Si crees que se ha infringido tu derecho de autor, contáctanos de inmediato.</p>
                
                <p>4.2. Licencia de Uso: Al publicar contenido en nuestro sitio web, nos otorgas una licencia no exclusiva, 
                    mundial, perpetua y libre de regalías para utilizar, reproducir, modificar, adaptar y distribuir dicho contenido con fines relacionados con la operación del sitio web.</p>
                                            
    </article>
    
    <article class="post">
        <header>
            <div class="title">
                <h2><br><a href="#">Descargo de Responsabilidad</a></h2>
            </div>
        </header>

        <br><h2>1. Aceptación de los términos:</h2>
        <br><p>Al utilizar este producto/servicio/sitio web, el usuario acepta los términos y condiciones establecidos en el descargo de responsabilidad.</p>
            
        <h2><br>2. Información general:</h2> 
        <br><p>Toda la información proporcionada tiene únicamente fines informativos y no debe considerarse asesoramiento legal, médico, financiero u otro tipo de asesoramiento profesional.</p>
            
        <h2><br>3. Limitación de responsabilidad:</h2>
        <br><p> La empresa/individuo no se hace responsable de ningún daño directo, indirecto, incidental, consecuente o especial que pueda surgir del uso o la incapacidad de utilizar el producto/servicio/información proporcionada.</p>
            
        <h2><br>4. Uso bajo responsabilidad del usuario:</h2> 
        <br><p> El usuario asume toda la responsabilidad y riesgo por el uso del producto/servicio/información. La empresa/individuo no garantiza la exactitud, integridad o actualidad de la información proporcionada.</p>
            
        <h2><br>5. Exclusión de garantías:</h2>
        <br><p> La empresa/individuo renuncia a cualquier garantía, expresa o implícita, incluyendo, pero no limitándose a, garantías de comerciabilidad, idoneidad para un propósito particular y no infracción.</p>
            
        <h2><br>6. Enlaces a terceros:</h2> 
        <br><p>Este producto/servicio/sitio web puede contener enlaces a sitios web de terceros. La empresa/individuo no se hace responsable del contenido, la precisión o las prácticas de privacidad de dichos sitios.</p>
            
        <h2><br>7. Cambios en la política:</h2> 
        <br><p>La empresa/individuo se reserva el derecho de modificar o actualizar esta política de descargo de responsabilidad en cualquier momento. Se recomienda revisar periódicamente la política para estar al tanto de cualquier cambio.</p>
            

        <br><ul>
            <li><a href="#">La empresa no se hace cargo de robos o estafas</a></li>
            <li><a href="#">No realice transferencias sin antes recibir el producto</a></li>
            <li><a href="#"></a></li>
            <li><a href="#"></a></li>
         </ul>
    </article>
</div>
<script src="app/js/jquery.min.js"></script>
<script src="app/js/browser.min.js"></script>
<script src="app/js/breakpoints.min.js"></script>
<script src="app/js/util.js"></script>
<script src="app/js/main.js"></script>
{%endblock%}