{%extends 'app/base.html'%}

{%block contenido%}

<div id="main">


    <article class="post">
        <header>
            <div class="title">
                <h2><a href="#">No Puedes Separarte de la Proxima Moda</a></h2>
                <p>Aquí podras encontrar lo nuevo en tendencias</p>
            </div>
        </header>
        <span class="image featured"><img src="images/Tendencias1.jpg" alt="" /></span>
        <p>¿Qué prendas, colores y estampados serán tendencia en 2023? Desgranamos todas las colecciones de primavera para recopilar las claves que triunfarán este verano</p>
        <p>Las tendencias de primavera-verano 2022 dejan claro que el año no supone un borrón y cuenta nueva en términos estilísticos. Aunque hay marcas y diseñadores  que han visto en este inciso de la pandemia una oportunidad de reinvención, otros han optado seguir dentro de la rueda de las Semanas de la Moda. De las prendas que más se van a llevar, pasando por los estampados más vistos (con las rayas a la cabeza) y los colores que teñirán la temporada, desgranamos algunas de las tendencias principales.</p>
        <p>Acá podrás encontrar noticias sobre lo último en moda <a href="https://www.youtube.com/c/TaliaEchecopar"><b>Ver Video</b></a></p>
    </article>
</div>

{%endblock%}