<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    {%load static%}
    
    <title>Listar</title>
</head>
<body>
    {% load crispy_forms_tags %}
    {% load humanize%}
    <button class="btn"><a href="{%url 'home'%}">Volver a incio</a></button>
    <div class="card">
        <div class="card-body">
            <h2>listado de productos</h2>
        </div>
    </div>
    <table class="table table-striped table-hover table-responsive-small">
        <tr>
            <th>Nombre</th>
            <th>Precio</th>
            <th>Marca</th>
        </tr>
        {% for p in productos %}
        <tr>
            <td>{{p.nombre | title}}</td>
            <td>{{p.precio | intcomma}}</td>
            <td>{{p.marca | title}}</td>
            <td>
                {% if perms.app.change_producto %}
                    <button class="btn btn-primary"><a href="{% url 'modificar_producto' p.id%}" style="color: aliceblue;">Modificar</a></button>
                {%endif%}
                {% if perms.app.delete_producto %}
                    <button class="btn btn-danger"><a href="{% url 'eliminar_producto' p.id%}" style="color: aliceblue;">Eliminar</a></button>
                {%endif%}
            </td>
        </tr>
        {% endfor %}
    </table>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    {%if messages%}
        {%for m in messages%}
            <script>
                Swal.fire({
                    "title":"Felicitaciones",
                    "text":"{{m}}",
                    "icon":"success"
                })
            </script>
        {%endfor%}
    {% endif %}
    <div>
        {%include 'app/paginator.html'%}
    </div>
</body>
</html>